.main {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    background: red;
    grid-template-columns: 17vw 83vw;
  }
  
.BodyContainer{
    height: 100%;
    width: 100%;
    background: blue;
    display: grid;
}