.main {
    display: grid;
    height: 100vh;
    width: 100vw;
    background: var(--principal-body-background);
    grid-template-columns: 17vw 83vw;
  }
  
.BodyContainer{
    width: 100%;
    background: var(--principal-body-background);
    display: grid;
    grid-template-rows: 8% 93%;
    padding: 2vh 5vw;
}

.BodySectionContainer{
  border-radius: 20px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}