.LateralContainer{
    display: flex;
    background: var(--lateral-bar-background);
    height: 100%;
    width: 100%;
    color: whitesmoke;
}

.LateralOPtions{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    padding: 10% 25%;
}